<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWnE42emDgRa-KHV57iKncE0u8EZiMQIs</string>
	<key>GCM_SENDER_ID</key>
	<string>297768788146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywealthclub</string>
	<key>PROJECT_ID</key>
	<string>my-wealth-club</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wealth-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297768788146:ios:3d63752830f9db99cfe9ab</string>
</dict>
</plist>